<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Configure handlers to use iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- Rewrite rules to route all requests to server.js -->
    <rewrite>
      <rules>
        <!-- Route all requests to server.js unless the request is for a static file or directory -->
        <rule name="Node.js Application" stopProcessing="true">
          <match url="^(.)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Node.js logging settings -->
    <iisnode loggingEnabled="true" />

    <!-- Enable gzip compression for faster responses -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <customErrors mode="Off" />
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
</configuration>